# Electoral Map Creator CA

## Import Libraries

In [1]:
# Versions
# googlemaps 4.4.5
# requests 2.25.1
# idna 2.10
# urlib3 1.26.4
# chardet 4.0.0
# pandas 1.2.4
# xlrd 2.0.1
# openpyxl 3.0.7

In [2]:
import json
import googlemaps
import urllib.request
import urllib.parse
import pandas as pd
import time
from datetime import datetime

### Import Data

In [20]:
mx_mat = pd.read_excel('MX_Materials.xlsx', engine = 'openpyxl', parse_dates=[9])
pp_mat = pd.read_excel('PP_Materials.xlsx', engine = 'openpyxl', parse_dates=[9])
mx_serv = pd.read_excel('MX_Services.xlsx', engine = 'openpyxl', parse_dates=[9])
pp_serv = pd.read_excel('PP_Services.xlsx', engine = 'openpyxl', parse_dates=[9])

C:\Users\melan\Anaconda3\envs\MS1\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [22]:
mx_mat.head()

,POID,POLINE#,QTYORD,LINECOST,COMPANYID,CITY,STATE,ZIPCODE,COUNTRY,ORDERDT,STATUS,SOURCE
0,48441,1,2.0,3900.00,847,LONDON,Ontario,N6E 1P5,CAN,2020-10-07,APPR,MX_MATERIALS
1,46552,28,36.0,288.00,26477,NANTICOKE,Ontario,N0A 1L0,CAN,2020-08-10,APPR,MX_MATERIALS
2,40740,1,2.0,355.46,19485,PETERBOROUGH,Ontario,K9J 6X6,CAN,2021-02-17,COMPLETE,MX_MATERIALS
3,25248,1,1.0,5595.32,12803,MISSISSAUGA,Ontario,L5N 0E9,CAN,2020-10-29,COMPLETE,MX_MATERIALS
4,43423,6,4.0,296.00,26477,NANTICOKE,Ontario,N0A 1L0,CAN,2021-02-19,APPR,MX_MATERIALS

In [21]:
mx_mat.dtypes

POID                  int64
POLINE#               int64
QTYORD              float64
LINECOST            float64
COMPANYID             int64
CITY                 object
STATE                object
ZIPCODE              object
COUNTRY              object
ORDERDT      datetime64[ns]
STATUS               object
SOURCE               object
dtype: object

In [23]:
pp_mat.head()

,POID,POLINE#,QTYORD,LINECOST,COMPANIESID,CITY,STATE,ZIPCODE,COUNTRY,ORDERDT,SOURCE
0,793809858,1,6.0,8420.16,14263,ST. GEORGE,ON,N0E 1N0,CA,2019-04-04,PP_MATERIALS
1,359526203,4,3.0,61.05,26477,NANTICOKE,ON,N0A 1L0,CA,2020-03-30,PP_MATERIALS
2,760866932,1,30.0,15.00,26477,NANTICOKE,ON,N0A 1L0,CA,2019-05-28,PP_MATERIALS
3,758849797,1,100.0,36.00,16222,OSHAWA,ON,L1H 3V5,CA,2018-02-02,PP_MATERIALS
4,31981934,2,2.0,21.22,26477,NANTICOKE,ON,N0A 1L0,CA,2019-08-14,PP_MATERIALS

In [24]:
mx_serv.head()

,POID,POLINE#,QTYORD,LINECOST,COMPANYID,CITY,STATE,ZIPCODE,COUNTRY,ORDERDT,POSTATUS,SOURCE
0,24737,2,1.0,500000.00,6162,TORONTO,Ontario,M5A 1N1,CAN,2020-06-30,APPR,MX_SERVICES
1,24737,1,1.0,426548.67,6162,TORONTO,Ontario,M5A 1N1,CAN,2020-06-30,APPR,MX_SERVICES
2,1562,1,1.0,70796.46,2761,MONTREAL,Quebec,H3A 2G4,CAN,2020-06-30,APPR,MX_SERVICES
3,13480,3,1.0,132069.00,19878,KINCARDINE,Ontario,N2Z 2X4,CAN,2020-06-30,APPR,MX_SERVICES
4,16440,3,1.0,3060286.68,7663,PORT ROBINSON,Ontario,L0S 1K0,CAN,2020-06-30,APPR,MX_SERVICES

In [25]:
pp_serv.head()

,POID,POLINE#,ORDERQTY,EXTLINECOSTCAD,COMPANIESID,CITY,STATE,ZIPCODE,COUNTRY,ORDERDT,POSTATUS,SOURCE
0,268987446,1,1,39304.79,19550,TORONTO,ON,M5G 2K4,CA,2018-01-01,CLOSED,PP_SERVICES
1,241411862,1,1,75000.00,2361,SASKATOON,SK,S7K 8G8,CA,2018-01-23,CLOSED,PP_SERVICES
2,698675679,1,1,325000.00,23359,TORONTO,ON,M4P 3A1,CA,2018-01-12,HISTORY,PP_SERVICES
3,18353338,1,1,400000.00,23359,TORONTO,ON,M4P 3A1,CA,2018-03-12,CLOSED,PP_SERVICES
4,624397022,1,1,550000.00,23359,TORONTO,ON,M4P 3A1,CA,2018-01-29,CLOSED,PP_SERVICES

### Convert Addresses to LAT & LONG

In [ ]:
# Read in Addresses
# df = pd.read_excel('assets/CAN_Addresses.xlsx')

In [ ]:
# Read in Addresses
df = pd.read_excel('assets/CAN_Post-Codes.xlsx')

In [ ]:
# Google Maps API Key
gmaps_key = "AIzaSyDiv0KJTmzrpVrLmBhYDqnAJyKNfl4pdt0"

In [ ]:
# This is where the responses will be stored
response_object = {}
response_object['Location'] = {}

In [ ]:
# Iterating through df
for i in range(0, len(df)):

    # Error handling
    try:
        print('Requesting row #:', i)

        # Define the request parameters
        full_address = df.loc[i]['Post_Code'].replace(" ", "+")
        #full_address = df.loc[i]['Address'].replace(" ", "+")
        place = df.iloc[i]['Place']
        
        baseUrl = 'https://maps.googleapis.com/maps/api/geocode/json'
                
        contents = urllib.request.urlopen(
            baseUrl + '?' + 'address={}&key={}'\
            .format(full_address,gmaps_key)
        ).read().decode('UTF-8')

        # Converts to json format
        contents_json = json.loads(contents)

        # Insert returned json response into response_object
        response_object[place][full_address] = contents_json
        print('Sleeping for 5 seconds between responses.')
        time.sleep(5)

    except Exception as e:
        print('Error:', e)
        print('Returning empty response for post code:', full_address)
        response_object[place][full_address] = {}

In [ ]:
f_name ='assets/{}-response.json'.format(datetime.now().strftime("%Y-%m-%d_%H:%M:%S"))

with open(f_name, 'w') as outfile:
    json.dump(response_object, outfile, indent=4)

In [ ]:
# Specify the place type
place = 'Location'

df_field_responses = pd.DataFrame(
    columns=['Full_Address',
            'Latitude',
            'Longitude'
            ])

for (full_address, i) in zip(
    response_object[place].keys(),
    range(0, len(response_object[place]))
):
    
    try:
        print('Trying to insert response for Address:', full_address)
        
        # Address
        df_field_responses.loc[i, 'Full_Address'] = full_address

        # Geometry Bounds    
        #df_field_responses.loc[i, 'Geometry_Bounds'] =\
        #    response_object[place][full_address]['results'][0]['geometry']['bounds']

        # Latitude
        df_field_responses.loc[i, 'Latitude'] =\
            response_object[place][full_address]['results'][0]['geometry']['location']['lat']
        
        # Longitude
        df_field_responses.loc[i, 'Longitude'] =\
            response_object[place][full_address]['results'][0]['geometry']['location']['lng']

        print('Inserted for row {}: {}'.format(i, df_field_responses.loc[i]))
        
    except Exception as e:
        print('Error:', e)
        print('Filling row with Error for row: {}; Address: {}'.format(i, full_address))
        # Fill in 'Error' for row if a field couldn't be found
        df_field_responses.loc[i] = ['Error' for i in range(0, len(df_field_responses.columns))]

In [ ]:
# Replace the '+' with a blank space so we can turn into numbers
df_field_responses['Full_Address'] = df_field_responses.Full_Address.str.replace("+", " ")

### Convert Lat and Long to CA Electoral Districts

In [ ]:
response_object2 = {}
response_object2['address1'] = {}

In [ ]:
# Iterating through df
for i in range(0, len(df)):

    # Error handling
    try:
        print('Requesting row #:', i)

        # Define the request parameters
        address1 = df_field_responses.iloc[i]['Full_Address']
        latitude = df_field_responses.iloc[i]['Latitude']
        longitude = df_field_responses.iloc[i]['Longitude']
        
        # Making request
        contents = urllib.request.urlopen(
            'https://represent.opennorth.ca/boundaries/?contains={},{}'\
            .format(latitude, longitude)
        ).read().decode('UTF-8')

        # Converts to json format
        contents_json = json.loads(contents)

        # Insert returned json response into response_object
        response_object2[address1] = contents_json
        print('Sleeping for 5 seconds between responses.')
        time.sleep(5)


    except Exception as e:
        print('Error:', e)
        print('Returning empty response for url:', url)
        response_object2[address1] = {}

In [ ]:
f_name2 ='assets/{}-response2.json'.format(datetime.now().strftime("%Y-%m-%d_%H:%M:%S"))

with open(f_name2, 'w') as outfile:
    json.dump(response_object2, outfile, indent=4)

In [ ]:
df_field_responses2 = pd.DataFrame(
    columns=['Full_Address',
            'Electoral_District'
            ])

for (address1, i) in zip(
    response_object2.keys(),
    range(0, len(response_object2))
):
    
    try:
        print('Trying to insert response for Address:', address1)
        
        # Address
        df_field_responses2.loc[i, 'Full_Address'] = address1

        # Electoral_District    
        df_field_responses2.loc[i, 'Electoral_District'] =\
            response_object2[address1]['objects'][1]['name']

        print('Inserted for row {}: {}'.format(i, df_field_responses2.loc[i]))
        
    except Exception as e:
        print('Error:', e)
        print('Filling row with Error for row: {}; Address: {}'.format(i, address1))
        # Fill in 'Error' for row if a field couldn't be found
        df_field_responses2.loc[i] = ['Error' for i in range(0, len(df_field_responses2.columns))]

#### Merge DFs for Working DF

In [ ]:
df_field_responses2.drop([0])
df_final = df_field_responses.merge(df_field_responses2)
df_final

### Map Electoral Districts & Locations

In [ ]:
# Plotly Choropleth Map
import plotly.express as px

In [ ]:
#fig = px.choropleth(data_frame=df_final, lat=df_final['Latitude'], lon=df_final['Longitude'], scope="canada")
#fig.show()

In [ ]:
"""
import plotly.express as px
import geopandas as gpd

df = px.data.election()
geo_df = gpd.GeoDataFrame.from_features(
    px.data.election_geojson()["features"]
).merge(df, on="district").set_index("district")

fig = px.choropleth(geo_df,
                   geojson=geo_df.geometry,
                   locations=geo_df.index,
                   color="Joly",
                   projection="mercator")
fig.update_geos(fitbounds="locations", visible=False)
fig.show()
"""